.pagination,
.user-post-list,
.user-post-list >li{
    width: 100%;
    float: left;
}
.pagination > li{float: left;margin: 12px;}
.pagination > li >a{
    display: inline-block;
    padding: 8px 12px;
    background: #e91e63;
    color:#fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}
.user-post-list{padding: 0 24px;}
.user-post-list >li{
    margin-bottom: 12px;
    font-size: 16px;
    padding: 8px;
    border:#d7d7d7 solid 1px;
    border-radius: 4px;
    text-transform: capitalize;
}
