<h1>
  {{title}}
</h1>
{{userform.value | json}}
<form #userform="ngForm" (ngSubmit)="submit(userform.value)">
<input [(ngModel)]="user.fname"
       #userf="ngModel"
       name="fname"
       required>
       <input [(ngModel)]="user.lname"
       #userl="ngModel"
       name="lname"
      [readonly]="user.bool || disabledMe"
       required>
<input type="checkbox"
      [(ngModel)]="user.bool"
      #userb="ngModel"
      name="bool"
      [readonly]="!user.bool" 
      required>
  <button type="submit">Submit</button>
</form>
<button type="button" (click)="disableMe()"> Disabled Button</button>
<h2>Selected Country : {{country.name}}</h2>
<h2>Selected Country Tel Code : {{country.tel_code}}</h2>
<ul class="nav">
  <li><a routerLink="/user-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">User List</a></li>
  <li><a routerLink="/user-post" routerLinkActive="active">User Post</a></li>
</ul>
<div>
  <select [(ngModel)]="country.name" (ngModelChange)="onChange($event)"
  (onchange)="options[selectedIndex].value&&self.location.reload(true)">
      <option *ngFor="let x of countryList" 
              [ngValue]="x"
              >{{x.name}}
      </option>
  </select>
  <div class="universal">
      <input type="search" 
            [(ngModel)]="country.name" 
            #name="ngModel"
            id="countryName"
            (search)="showCityList()"
            placeholder="Search your country..." />
      <ul id="country-list">
        <li *ngFor="let country of countryList | search:country.name;">
          <a href="javascript:;" (click)="showCountry(country)">{{country.name}}</a>
        </li>
      </ul>
</div>
  <!-- <select [ngModel]="country.name" (ngModelChange)="onChange($event)" >
    <option [ngValue]="i" *ngFor="let i of countryList">{{i.name}}</option>
</select> -->
</div>
<div class="clearfix"></div>
<router-outlet></router-outlet>