.nav{
    width:100%;
    float: left;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: #d7d7d7 solid 1px;
}
.nav > li{float: left;margin: 12px 12px 0;}
.nav > li >a{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    color:#e91e63;
    display: inline-block;
}
.nav > li >a:hover{color:blue;}
.nav > li >a.active{color:#333;}
.clearfix{clear: both;}
input[readonly] {
    background-color: #333;
}