/* You can add global styles to this file, and also import other style files */
*{margin: 0;padding: 0;}
*,*:before,*:after{
    -webit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
a{text-decoration: none;cursor: pointer;}
li{list-style: none;}
.universal{
    width: 600px;
    display: table;
    margin: 20px auto;
    position: relative;
    z-index: 1;
}
#country-list{
    position: absolute;
    min-height:40px;
    max-height:300px;
    top:40px;
    left:0;
    right:0;
    background: #fff;
    -webkit-box-shadow:0 0 16px rgba(0,0,0,0.1);
       -moz-box-shadow:0 0 16px rgba(0,0,0,0.1);
         -o-box-shadow:0 0 16px rgba(0,0,0,0.1);
            box-shadow:0 0 16px rgba(0,0,0,0.1);
    z-index: 2;
    overflow-y: auto;
    display: none;
}
#country-list > li{
    width:100%;
    float: left;
    padding: 8px;
}

#country-list a{
    font-size: 16px;
    font-weight:600;
    display: block;
    color:#333;
}
input[type="search"]{
    width:100%;
    float: left;
    font-size:14px;
    font-weight:600;
    text-transform: capitalize;
    padding: 8px;
}